@media   ( max-width:  1200px)
  .container
    max-width: 960px  
  .hotel
    &-slider
      width: 590px
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px
  .footer
    &__input
      flex-basis: 100%
    &__buttom
      grid-template-columns: 50% 50%
    &-nav
      grid-column: 1 / 2
      justify-self: start
    &__pay
      grid-column: 2 / 3
    &__legal
      padding-left: 18px
@media   ( max-width: 992px )
  button
    cursor: auto
  .container, .newsletter-wrapper
    max-width: 700px 
  .navbar
    &-top
      height: 100px
    &__search
      margin-right: 73px
      margin-left: auto
    &-menu
      justify-content: space-around
      &__link
        font-size: 12px
        line-height: 15px
  .logo
    // width: 132px
  .top-logo
    margin-top: 0
  .search
    &__input
      width: 340px
  .hotel
    padding-bottom: 60px
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%   
  .booking
    width: 340px
    padding: 29px 22px 26px 23px
  .map
    width: 340px 
  .newsletter
    padding-top: 92px
    padding-bottom: 93px
  .reviews
    padding-bottom: 22px
    &-title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
    &-slider
      &__button
        top: 44%
        &--prev
          left: 0
        &--next
          right: 0
      &__item
        max-width: 579px
        &:after, &:before
          display: none  
  .activities
    padding-bottom: 50px
    &-wrapper
      flex-wrap: wrap
  .card
    width: 339px
    height: 255px
    margin-bottom: 20px
    padding-right: 115px
  .footer
    padding-top: 73px
    padding-bottom: 33px
    &__title
      &--inline
        margin: 0 40px 0 0
    &-wrapper
      grid-template-columns: repeat(7, 1fr )
      grid-row-gap: 40px
      grid-column-gap: 0
      margin-bottom: 60px
    &__logo
      width: 98px
      grid-row: 1 / 2
      grid-column: span 2
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
    &__additional
      grid-column: span 3
    &__contact
      &-details
        grid-row: 3 / 4
        grid-column: span 5
        padding-top: 21px
      &-form
        grid-row: 4 / 5
        grid-column: span 6
    &__form
      justify-content: start
    &__input
      &-group
        flex-basis: 42.5%
        &--left
          margin-right: 29px
    &__message
      flex-basis: 90%
    &__legal
      grid-column: span 2
      padding-left: 0
    &__button
      // margin-right: 282px
  .form
    &__footer
      width: 90%
  .modal
    &__footer
      flex-wrap: wrap
      width: 100%
    &__info
      width: 100%
    &__button
      order: 1
      margin-top: 15px
    &__dialog
      &--visible
        height: 70vh
        overflow: scroll
@media (max-width: 767px)
  body
    padding-top: 65px
  .container
    max-width: 576px
    width: 90%
  .navbar
    &-top
      height: 70px
    &--mobile
      &--fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &__search
      &--mobile
        &--hidden
          display: none
        &--visible
          margin-right: auto
          width: 243px
    &__user
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
          flex-direction: column
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
        &--visible
          display: flex
  .nav
    display: none
    position: fixed
    left: 0
    right: 0
    bottom: 0
    top: 65px
    padding-top: 197px
    &--visible
      display: block
      height: 90%
      overflow: scroll
  .menu
    &-button
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-between
      padding: 0
      width: 16px
      height: 11px
      border: none
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .hotel
    &-wrapper
      justify-content: space-between
    &-name
      flex-basis: 100%
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-slider
      height: 350px
    &-right
      flex-direction: column
  .stars
    flex-basis: auto
  .booking
    width: 100%
  .map
    width: 100%
    margin-top: 20px
  .newsletter
    padding-top: 76px
    &-wrapper
      flex-direction: column
      align-items: start
      max-width: 576px
      width: 90%
  .subscribe
    width: 100%
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
      &__button
        top: 32px
        &--prev
          left: 50%  
          transform: translate(-50%, 0)  
          margin-left: -65px 
        &--next
          right: 50%
          transform: translate(50%, 0)  
          margin-right: -65px 
  .activities
    padding-top: 40px
    padding-bottom: 60px
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
  .modal
    &__dialog
      padding: 20px 50px 
      min-width: 350px     
  .footer
    &__buttom
      grid-template-columns: 100%
      grid-template-rows: 50% 50%
      grid-gap: 10px
    &-nav
      grid-column: 1 / 2
      grid-row: 1 / 2
      justify-self: start
    &__pay
      grid-column: 1 / 2
      grid-row: 2 / 3
      justify-self: start
@media ( max-width: 576px )
  .container
    max-width: 520px
    width: 90%
  .navbar
    &-top
      padding-top: 28px
      padding-bottom: 28px
  .breadcrumbs
    padding: 28px 0 14px 
  .horizontal-logo
    width: 99px
  .slider
    height: 250px  
  .hotel
    padding-top: 1px
    padding-bottom: 40px
    &-wrapper
      &__stars
        padding-right: 10px
    &__slider
      height: 179px
      margin-bottom: 20px
    &-info
      margin-bottom: 38px
  .map
    height: 173px
  .newsletter
    padding-top: 76px
    padding-bottom: 83px
    &-title
      font-size: 20px
      line-height: 25px
      margin-bottom: 37px   
      &__strong
        font-size: 30px
        line-height: 38px
  .reviews
    padding-bottom: 88px
    padding-top: 44px
    &-slider
      &__item
        padding-bottom: 36px
      &__button
        top: 28px
        &--prev
          margin-left: -90px
        &--next
          margin-right: -90px
      &__text
        height: 266px
    &-title
      text-align: center
      width: 267px
      font-size: 18px
      line-height: 23px 
      letter-spacing: 0.6px 
      margin-bottom: 43px
  .activities
    padding-top: 0
    padding-bottom: 48px
  .card
    width: 100%
  .footer
    &-wrapper
      grid-template-columns: 1fr
      grid-row-gap: 31px
      margin-bottom: 25px
    &__title
      &--mb-3
        margin-bottom: 15px
    &__logo
      width: 95px
      grid-row: 1
      grid-column: 1
    &__social
      &-links
        margin-top: 22px
      &-network
        display: flex
        flex-direction: column
        grid-row: 2
        grid-column: 1
    &__legal
      grid-row: 3
      grid-column: 1
    &__additional
      grid-row: 4
      grid-column: 1
    &__categories
      grid-row: 5
      grid-column: 1  
    &__contact
      &-details
        padding-top: 12px
        grid-row: 6
        grid-column: 1
      &-form
        width: 280px
        padding-top: 8px
        grid-row: 7
        grid-column: 1
    &__text, &__ul
      width: 280px
    &__icon-wrapper
      min-width: 30px
    &__input
      &-group
        flex-basis: 100%
        &--left
          margin-right: 0
    &__message
     flex-basis: 100%
     margin-bottom: 15px
    &__button
      order: 1
    &__info
      flex-basis: 100%
      margin-bottom: 15px
    &-nav
      padding-left: 0
      &__link
        margin-right: 5px
    &__buttom
      grid-gap: 0
  .form
    &__footer
      flex-wrap: wrap
  .modal
    &__input
      font-style: normal
      font-weight: normal
      font-size: 10px
      line-height: 12px
    &__button
      width: 100%
    &__dialog
      &--visible
        height: 70vh
        overflow: scroll
@media ( max-width: 420px )
  .container
    width: 280px
  .navbar
    &-top
      height: 70px
@media (min-width: 992px)
  button:hover, a:hover
    background-color: lighten($primary, 15%)
    transition: background-color .5s ease-in-out