.footer
  background-color: $dark
  color: #BDBDBD
  padding-top: 108px
  padding-bottom: 46px
  &-wrapper
    display: grid
    grid-template-columns: repeat(4, minmax(min-content, 1fr))
    grid-gap: 20px
    grid-auto-rows: minmax(40px, min-content)
    align-items: start
    margin-bottom: 94px
  &__logo
    align-self: center
    width: 166px
    grid-row: 1 / 3
  &__categories
    grid-row: 1 / 4
  &__social
    &-links
      display: flex
      align-items: center
      min-width: 85px
      justify-content: space-between
    &-network
      display: flex
      align-items: start
      grid-row: 2 / 4
      grid-column: span 2
  &__contact
    &-details
      grid-column: span 2
    &-form
      grid-column: span 2
  &__text
    margin-top: 0
    margin-bottom: 22px
  &__icon
    &-wrapper
      min-width: 40px
  &__title
    color: $light
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 23px
    text-transform: uppercase
    margin: 0 0 16px 0
    &--inline
      margin: 0 43px 0 0
    &--mb-3
      margin-bottom: 30px
  &__ul
    list-style: none
    margin: 0
    padding: 0
  &__item
    display: flex
    align-items: flex-start
    &--mb-22
      margin-bottom: 20px
  &__link
    text-decoration: none
    color: inherit
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 160%
  &__input
    flex-basis: 48%
    margin-bottom: 15px
  &__message
    width: 539px
    height: 123px
    flex-basis: 100%
    margin-bottom: 23px
  &__info
    font-style: normal
    font-weight: bold
    font-size: 12px
    line-height: 15px
    color: #E0E0E0
  &__buttom
    display: flex
    justify-content: end
  &-nav
    margin-right: 286px
    &__link
      text-decoration: none
      color: $light
      margin-right: 15px
      font-style: normal
      font-weight: normal
      font-size: 12px
      line-height: 15px
